In [1]:
import pandas as pd

In [2]:
animal = pd.read_csv('animal.csv')

In [3]:
animal

   perna curta  gordinho  rabo curto  late    animal
0            1         1           1     0     porco
1            1         1           0     0     porco
2            1         0           1     0     porco
3            1         1           0     1  cachorro
4            1         1           1     1  cachorro
5            0         1           1     1  cachorro

In [4]:
X = animal.drop(columns=['animal'])

In [5]:
X

   perna curta  gordinho  rabo curto  late
0            1         1           1     0
1            1         1           0     0
2            1         0           1     0
3            1         1           0     1
4            1         1           1     1
5            0         1           1     1

In [6]:
y = animal['animal']

In [7]:
y

0       porco
1       porco
2       porco
3    cachorro
4    cachorro
5    cachorro
Name: animal, dtype: object

In [8]:
from sklearn.naive_bayes import MultinomialNB

In [9]:
modelo2 = MultinomialNB()

In [10]:
modelo2.fit(X, y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [11]:
modelo2.predict([[1,0,0,1]])

array(['cachorro'], dtype='<U8')

In [12]:
from sklearn.metrics import accuracy_score

In [13]:
previsao = modelo2.predict(X)

In [15]:
accuracy_score(y, previsao)

1.0